/*

         Name: AryanKumar Panchal

         File: Style.css

         Date: 2024/07/31
        This CSS file lays out an image gallery with alignment set to center 
        and image viewing area of 640 pixels by 480 pixels. This is, in particular, 
        styles for a darkening overlay, a button that can be made to any size with 
        a customizable text, and horizontal rows of thumbnail images. The h1 has a 
        class which is used to center it as well as choose a color and font for it,
        an a similar operation is done to the body The .overlay has a background 
        color that fades in to make it look more interesting and the button has an 
        on hover effect to make exist to add some interactivity to the layout.

*/
h1 {
  font-family: helvetica, arial, sans-serif;
  text-align: center;
}

body {
  width: 640px;
  margin: 0 auto;
}

.full-img {
  position: relative;
  display: block;
  width: 640px;
  height: 480px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 640px;
  height: 480px;
  background-color: rgba(0,0,0,0);
}

button {
  border: 0;
  background: rgba(150,150,150,0.6);
  text-shadow: 1px 1px 1px white;
  border: 1px solid #999;
  position: absolute;
  cursor: pointer;
  top: 2px;
  left: 2px;
}

.thumb-bar img {
  display: block;
  width: 20%;
  float: left;
  cursor: pointer;
}