/*
Name : AryanKumar Panchal

Date : 2024/01/08

File : p_3.css

      The CSS of the page removes margins and disables scroll bars 
      to fully take over the screen space. It aligns the h1 header 
      to the right, and sets it to have a transparent color and 
      white text shadow so as to bring the focus to the canvas while keeping the header unobtrusive.
*/
html, body {
  margin: 0;
}

html {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  height: 100%;
}

body {
  overflow: hidden;
  height: inherit;
}

h1 {
  font-size: 2rem;
  letter-spacing: -1px;
  position: absolute;
  margin: 0;
  top: -4px;
  right: 5px;

  color: transparent;
  text-shadow: 0 0 4px white;
}