<!--
	Name: Aryankumar Panchal
	Date: 2024/06/19
	Assignment_3 part_2 css 
	-->
html {
  font-family: sans-serif;
  height: 100%
}

/* Your CSS below here */
body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
